/textanalysis/bayesclf/newstext/data.json
/ch7/word2vec/wiki.txt
/ch7/word2vec/wiki.model.wv.syn0.npy
/test/data.json
/ch7/word2vec/wiki.wakati
/ch7/word2vec/wiki2.model.wv.syn0.npy
/ch7/word2vec/wiki2.model.syn1neg.npy
/ch7/word2vec/wiki.model.syn1neg.npy
